.main-sectionp2-holder{
    border:12px solid black;
    /* height: 100vh; */
    width: 1920px;
    margin: 0 auto;
    background-image: url('Banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.main-section-span{
    display: flex;
        border:12px solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    height: 70vh;

}

#skills-text{
    font-size: 50px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#improve-text{
    
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

.about-sectionp2-holder{
    border:12px solid yellow;
    /* height: 100vh; */
    width: 1700px;
    margin: 0 auto;
    height:1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 80px; */
    /* padding: 0px 100px 0px 100px; */
}

#about-sectionp2-title{
    font-size: 40px;
    font-weight: 500 medium;
    padding: 15px;
}

#about-img{
    padding: 15px;
}

#about-text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    border:12px solid red;
    padding: 15px;
    /* height:1000px; */
}

.break-text{
    margin-bottom: 20px;
}

/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/

@media screen and (max-width: 1000px) {
    .main-sectionp2-holder{
        border:12px solid white;
        /* height: 100vh; */
        width: auto;
        margin: 0 auto;
        background-image: url('Banner.png');
        background-repeat:no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        
    }
    
    .main-section-span{
        display: flex;
            border:12px solid white;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        height: 70vh;
    
    }
    
    #skills-text{
        font-size: 50px;
        font-weight: 500;
        line-height: 75px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }
    
    #improve-text{
        
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    
    }
    
    .about-sectionp2-holder{
        border:12px solid yellow;
        /* height: 100vh; */
        width: 1700px;
        margin: 0 auto;
        height:1000px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding-top: 80px; */
        /* padding: 0px 100px 0px 100px; */
    }
    
    #about-sectionp2-title{
        font-size: 40px;
        font-weight: 500 medium;
        padding: 15px;
    }
    
    #about-img{
        padding: 15px;
    }
    
    #about-text{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        border:12px solid red;
        padding: 15px;
        /* height:1000px; */
    }
    
    .break-text{
        margin-bottom: 20px;
    }
}