.header-holder{
    /* background-color: pink; */
}

.header{
    width: 1550px;
    margin: 0 auto;
    font-size: 20px;
    display:flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
}

.icon-one-left{
    display: flex;
    align-items: center;
    padding: 0px 150px 0px 0px;
    /* border: 2px solid red; */
}

.icon-one-left img{
    padding: 0px 20px 0px 0px;
}

.icon-two-right{
    display: flex;
    align-items: center; 
}
.icon-two-right img{
    padding: 0px 20px 0px 0px;
}

@media screen and (max-width: 1200px) {
    .header{
        /* border: 8px solid yellow; */
        margin: 0 auto;
        width: auto;
        font-size: 20px;
        display: flex;
        justify-content:center;
    }
}