@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap');

.section-two-holder{
    margin: 0 auto;
    width: 1920px;
    min-height: 865px;
    width: 1920px;
    background-image: url(../../../public/Images/PacificPattern01.png);
    background-repeat: no-repeat;
    background-size: 1920px 865px;
    background-color: rgb(88,175,190);
    border:2px solid red;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-top{
    display:flex;
    align-items:flex-end;
    justify-content:space-between;

    /* border:13px solid red; */
    width:100%;
}

.section-two-one{
    /* border:3px solid green; */
    width:30%
}

.section-two-one img{
    /* border:3px solid yellow; */
    margin-top: 0px;
}

.section-two-title{
    font-family: 'Glegoo', serif;
    font-size: 40px;
    font-weight: 700;
    border:5px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    text-align: center;
    margin-top:245px;
    border:3px solid white;
    padding:5px 80px 5px 80px;
    display: flex;
}

.section-two-three{
    display: flex;
    /* border:3px solid green; */
    width:30%
}

.section-two-content{
    font-size: 28px;
    width: 1321px;
    font-weight: 700;
    padding-top: 40px;
    color:rgba(255, 255, 255, 1);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .section-two-holder{
        /* border:12px solid black; */
        margin: 0 auto;
        width: auto;
        background-image: url(../../../public/Images/PacificPattern01.png);
        background-position: 90% 0%;
        height: 1051px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .section-two-title{
        font-family: 'Glegoo', serif;
        font-size: 40px;
        font-style: bold;
        padding:10px 20px 10px 20px;
        border:3px solid rgba(255, 255, 255, 1);
        border-radius: 13px;
        /* width:auto; */
        text-align: center;
    }
    
    .section-two-content{
        font-size: 28px;
        width: auto;
        font-weight: 700;
        padding-top: 40px;
        color:rgba(255, 255, 255, 1);
        text-align: center;
    }
}