@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap');

.section-one{
    border:2px solid black;
    margin: 0 auto;
    width: 1920px;
    background-image: url(../../../public/Images/SectionOneBg.png);
    height: 1051px;
    display: flex;
}

.section-one-left{
    width: 40%;
    border:2px solid red;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 260px 0px 0px 150px;
}

.section-one-left-top-title{
    font-family: 'Glegoo', serif;
    font-size: 80px;
    font-weight: bold;
    line-height:90px;
}

.section-one-left-bottom-title{
    font-size: 36px;
    border:2px solid red;
}

