@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.testimonials-component {
  background-color: white;
  width: 100%;
  height: 50vh;
}

.testimonials-title {
  position: relative;
  font-family: "Glegoo", serif;
  font-size: 2vw;
  font-weight: 700;
  border: 2px solid #545454;
  border-radius: 13px;
  width: 20vw;
  height: 8vh;
  margin-top: 12vh;
  margin-left: 40vw;
  display: flex;
  text-justify: center;
  align-content: center;
  justify-content: center;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: row;
  text-justify: center;
  align-content: center;
  justify-content: center;
}

.testimonials-div {
  width: 20%;
  margin: 3%;
  font-family: Poppins;
  font-size: 1.3vw;
}

.testimonials-div span {
  color: #f08326;
}
