.form-container{
    /* border:12px solid yellow; */
    height: 695px;
    margin: 0 auto;
    width: 1920px;

    background-color: #ECF8FF;
    display: flex;
    justify-content: center;
    align-content: center;
}
.form-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid red; */
    height: 475px;
    width: 756px;
    left: 951px;
    top: 2170px;

    
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;

    margin-right: 20px;


}

#talanoa{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 40px;
    margin-bottom: 20px;
    /* border: 2px solid green; */
    width: 756px;
    

}

#talanoa-text{
    display: flex;
    align-items: center;
}
.form-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 475px;
    width: 756px;
    /* left: 951px; */
    /* top: 2170px; */
    border-radius: 0px;

}
.form-right-content{
 display: flex;
 flex-direction: column;
 width: 100%;
}
.form-right-input{
    width: 100%
}

/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/

@media screen and (max-width: 1000px) {
    .form-container{
        /* border:12px solid yellow; */
        height: 1000px;
        margin: 0 auto;
        width: auto;
    
        background-color: #ECF8FF;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .form-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px 0px 0px 0px;
    }
    .form-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* border: 2px solid red; */
        height: auto;
        width: 756px;
        left: 951px;
        top: 2170px;
    
        
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
    
        margin-right: 20px;
    }
    
    #talanoa{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 40px;
        margin-bottom: 20px;
        /* border: 2px solid green; */
        width: auto;
        
    
    }
    
    #talanoa-text{
        display: flex;
        align-items: center;
        padding:0px 0px 100px 0px;
    }
    .form-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        height: 475px;
        width: 756px;
        /* left: 951px; */
        /* top: 2170px; */
        border-radius: 0px;
    
    }
    .form-right-content{
     display: flex;
     flex-direction: column;
     width: 100%;
    }
    .form-right-input{
        width: 100%
    }
}