@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

.tnav-holder{
background-color: rgba(255, 249, 249, 0.71);
/* border:12px solid red; */
display: flex;
justify-content: space-between;
}

.tnav{
    width: 1550px; 
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    /* border:2px solid black; */
}

.tnav-left{
    display: flex;
    align-items: center;
    font-size:20px;
}

.tleft-title{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 45px;
}

.tnav-left img{
    padding-left:94px
}

.tnav-right{
    display: flex;
    font-size:26px;
    align-items: center;
    /* border:2px solid yellow; */
}

.tnav-icon{
    padding-right:120px
}

/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/
/* ======== MEDIA QUERIES ========*/

@media screen and (max-width: 1000px) {
    .tnav-holder{
        background-color: rgba(255, 249, 249, 0.71);
        /* border:12px solid red; */
        display: flex;
        width: auto;
        /* justify-content: space-between; */
        }
        
        .tnav{
            /* width: auto; */
            /* margin: 0 auto; */
            font-size: 20px;
            display: flex;
            flex-direction:column;
            /* justify-content: center; */
            align-items: center;
            /* border:12px solid black; */
        }
        
        .tnav-left{
            /* display: flex;
            justify-content: flex-start; */
            /* align-items: center; */
            font-size:20px;
            /* border:12px solid red; */
        }
        
        .tleft-title{
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 45px;
        }
        
        .tnav-left img{
            padding-left:0px;
        }
        
        .tnav-right{
            font-size:26px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            /* border:12px solid yellow; */
        }
        
        .tnav-icon{
            padding:10px 0px 10px 0px;

            text-align: center;
            /* border:12px solid black; */
        }
}